#logo {
    display: flex;
    justify-content: center;
    opacity: .8;
    height: 7rem;
    padding: 1rem;
  }

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}

.search {
    display: flex;
    justify-content: center;
}

.character-card {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: grey solid 1px;
    padding: 1rem;
}