#logo {
    display: flex;
    justify-content: center;
    opacity: .8;
    height: 7rem;
    padding: 1rem;
  }

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}

.search {
    display: flex;
    justify-content: center;
}

.character-card {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: grey solid 1px;
    padding: 1rem;
}


#state-container {
    display: flex;
    justify-content: center;
}

.search-state {
    float: left;
    border: blue 1px;
    border-style: solid;
    color: blue;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 1px;
}

#species-filter {
    margin-left: 5px;
    margin-right: 5px;
}

#results-count {
    border-style: solid;
    border: black 1px;
    color: black;
    display: flex;
    justify-content: center;
}

